@import './variables';

%formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 20px 20px;

  @media screen and (min-width: $sm) {
    padding: 20px 40px;
  }
  @media screen and (min-width: $md) {
    padding: 0;
  }
  & > * {
    margin-bottom: 15px;
  }
}

%submitBtn {
  width: 100%;
  padding: 20px;

  border: none;
  border-radius: 5px;

  color: white;
  background-color: #28d2d0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
}

%errorBubble {
  position: absolute;
  top: 115%;
  left: 0;
  z-index: 10;

  max-width: inherit;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;

  color: var(--error-text-color);
  font-size: 0.8rem;
  background-color: var(--bg-color-error);
  $position-left: 20px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
  }
  &::before {
    left: $position-left;
    z-index: 16;
    border: 7px solid transparent;
    border-bottom: 7px solid red;
  }
  &::after {
    left: $position-left + 1px;
    z-index: 20;
    border: 6px solid transparent;
    border-bottom: 6px solid var(--bg-color-error);
  }
}
