@import '../../common/styles/variables';
%common {
  background-color: var(--accent-color);
  color: white;
}
.container {
  @extend %common;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  padding: 0 20px;

}


.heading{
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  @media screen and (min-width: $lg) {
    margin-top: 50px;
  }
  @media screen and (min-width: $xl) {
    margin-top: 50px;
  }
}
.subHeading{

font-size: 1.1rem;
max-width: 70%;
margin: 20px auto;
}

.link{
  color: inherit;
}
.content{
padding-bottom: 50px;
}