@import '../../common/styles/variables';
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  & > * {
    margin: 10px 20px;
  }
  @media screen and (min-width: $sm) {
    justify-content: space-between;
    & > * {
      margin: 0;
    }
    padding: 20px;

  }
  @media screen and (min-width: $md) {
    padding: 30px;
  }
  @media screen and (min-width: $lg) {
    padding: 50px;
  }
  @media screen and (min-width: $lg) {
    padding: 80px;
  }
}

.link {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 5px;
  
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: transparent;
  text-decoration: none;
}
