@import '../../../common/styles/variables';
@import '../../../common/styles/templates';

.wrapper {
  position: relative;
  display: block;
  width: inherit;
  // flex-basis: 90%;
}
.input {
  padding: 20px;

  border: 2px solid transparent;
  border-radius: 5px;
  width: 100%;

  font-size: 1rem;
  color: #9ca8b7;
  background-color: white;
}
.validInput {
  border-color: #18a518;
}
.errorInput {
  border-color: red;
}

.errorMessage {
  @extend %errorBubble;
}
