@import '../../common/styles/variables';
%common {
  background-color: var(--accent-color);
  color: white;
}
.container {
  @extend %common;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  padding: 0 20px;
}


.heading{

  text-transform: uppercase;
  font-size: 2rem;
  margin: 25px auto;
  @media screen and (min-width: $lg) {
    margin: 30px auto;
  }
  @media screen and (min-width: $xl) {
    margin: 50px auto;
  }
}

.btnToLogin{
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 5px;

  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: transparent;
  text-decoration: none;
}